body, header, .links, .link, footer {
    border-radius: 5px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #663399;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

header img {
    width: 250px;
    border-radius: 5%;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.link {
    flex: 1;
    min-width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #663399;
    color: #fff;
    cursor: pointer;
}

.link h2 {
    color: #fff;
    margin-bottom: 10px;
}

.link a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

.link:hover {
    background-color: #7D4B99;
}

.link img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.code-container {
    font-family: "Courier New", monospace;
    font-size: 0.875em;
    background-color: #663399;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    height: calc(10em);
    overflow-y: auto;
    margin-bottom: 20px;
}


body.safari .code-container {
    padding-bottom: 15px;
}


.code-container > :first-child {
    margin-top: 0;
    padding-top: 0;
}

.code-container > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.code-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.code-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.code-container:hover {
    background-color: #7D4B99;
}

footer {
    background-color: #663399;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.no-visual {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}