body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", monospace;
    background-color: black;
    color: lime;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    color: lime;
    text-shadow: 0 0 5px lime, 0 0 10px lime;
}

header img {
    width: 350px;
    /* image-rendering: pixelated; */
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: black;
}

.link {
    flex: 1;
    min-width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px dashed lime;
    margin: 10px;
    background-color: black;
    color: lime;
    cursor: pointer;
}

.link h2 {
    text-shadow: 0 0 1px lime, 0 0 3px lime;
}

.link a {
    text-decoration: none;
    color: lime;
    display: block;
    padding: 10px;
}

.link:hover {
    background-color: #121212;
}

.link img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    /* image-rendering: pixelated; */
    margin-top: 10px;
    margin-bottom: 10px;

}

.code-container {
    font-family: "Courier New", monospace;
    font-size: 0.875em;
    background-color: black;
    color: lime;
    padding: 10px;
    border: 1px dashed lime;
    cursor: pointer;
    height: calc(10em);
    overflow-y: auto;
    text-shadow: 0 0 1px lime, 0 0 3px lime;
}

.code-container > :first-child {
    margin-top: 0;
    padding-top: 0;
}

.code-container > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.code-container::-webkit-scrollbar {
    display: none;
}
.code-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

footer {
    background-color: black;
    color: lime;
    text-align: center;
    padding: 10px 0;
    text-shadow: 0 0 1px lime, 0 0 1px lime;
}
